body {
    background: url(photos/p2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.phservice {
    background-size: cover;
    background-position: center;
    width: 100%;
    background-attachment: fixed;
}

.rndv .content {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}